*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#18191A;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:340px;
    text-align:center;
}

.circle{
    width:72px;
    height:72px;
    margin:auto;
    border-radius:50%;
    background:#1877F2;
    color:#fff;
    font-size:56px;
    font-weight:bold;
    line-height:72px;
}

.logo{
    margin-bottom:40px;
}

input{
    width:100%;
    height:55px;
    margin:10px 0;
    padding:0 18px;
    background:#242526;
    border:1px solid #3A3B3C;
    border-radius:14px;
    color:#fff;
    font-size:17px;
}

input::placeholder{
    color:#B0B3B8;
}

button{
    width:100%;
    height:52px;
    margin-top:18px;
    border:none;
    border-radius:26px;
    background:#1877F2;
    color:white;
    font-size:20px;
    font-weight:bold;
}

.forgot{
    margin:22px 0;
    color:white;
    font-size:16px;
}

.create{
    background:transparent;
    border:2px solid #1877F2;
    color:#1877F2;
}
